<h1>Search Repositories</h1>
<p><textarea cols="50" placeholder="Enter keywords like ruby, rails etc" id="search-repo"></textarea></p>
<button onclick="repositories.search()">Search</button>
<a href="/"><button>Home</button></a>
<div id="search-target"></div>
<div id="import-msg"></div>
